<h1>Welcome to the dashboard !</h1><br>

<% if current_user %>
	<%= link_to 'My Plugins', controller: 'plugins' %> <br>
	<%= link_to 'New Plugin', new_plugin_path %><br>
	<%= link_to 'All Users', users_path %><br>
	<%= link_to 'Edit Profile', edit_user_path(current_user.id) %><br>
	<%= image_tag current_user.image.url %>
<% else %>
<% end %>

